body {
	&:not(.pagelayout-course) {
		#region-main {
			background-color: #ffffff;
			padding: 1rem;
    		border: 1px solid #a0d0ff;
    		border-radius: 1rem;
    		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
	}
}

#page.drawers {

	.main-inner {
		background-color: var(--ufpel-background);

		.course-section {
			.section-item {
				background-color: #ffffff;
				border: 1px solid #a0d0ff;

				.course-section-header {
					.btn-icon {
						&.icons-collapse-expand {
							background-color: transparent;
							color: var(--ufpel-secondary);
						}
					} 

					.sectionname {
						a {
							color: var(--ufpel-secondary);
						}
					}
				}
			}
		}
	}
}