{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ufpel/footer_custom

    Custom footer template for UFPel theme - Fixed with correct string references
}}
<footer id="ufpel-footer" class="ufpel-footer" role="contentinfo">
    {{#hasfootercontent}}
    <div class="ufpel-footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {{{footercontent}}}
                </div>
            </div>
        </div>
    </div>
    {{/hasfootercontent}}
    
    <div class="ufpel-footer-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h3 class="footer-title">{{sitename}}</h3>
                        <p class="footer-description">
                            {{#str}}footerdescription, theme_ufpel{{/str}}
                        </p>
                        {{#hassociallinks}}
                        <div class="footer-social">
                            {{#sociallinks}}
                            <a href="{{url}}" 
                               class="social-link social-{{network}}" 
                               aria-label="{{title}}"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab {{icon}}" aria-hidden="true"></i>
                            </a>
                            {{/sociallinks}}
                        </div>
                        {{/hassociallinks}}
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h4 class="footer-subtitle">{{#str}}quicklinks, theme_ufpel{{/str}}</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="{{homeurl}}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    {{#str}}home, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/course/index.php">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    {{#str}}courses, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/my/">
                                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                                    {{#str}}myhome, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/calendar/view.php">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{#str}}calendar, theme_ufpel{{/str}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h4 class="footer-subtitle">{{#str}}support, theme_ufpel{{/str}}</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="{{contacturl}}">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    {{#str}}contactus, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tool/usertours/index.php">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    {{#str}}help, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="https://docs.moodle.org" target="_blank" rel="noopener">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    {{#str}}documentation, theme_ufpel{{/str}}
                                </a>
                            </li>
                            {{#loginurl}}
                            <li>
                                <a href="{{loginurl}}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    {{#str}}login, theme_ufpel{{/str}}
                                </a>
                            </li>
                            {{/loginurl}}
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h4 class="footer-subtitle">{{#str}}policies, theme_ufpel{{/str}}</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="{{privacyurl}}">
                                    <i class="fa fa-shield" aria-hidden="true"></i>
                                    {{#str}}privacypolicy, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tool/policy/index.php">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    {{#str}}termsofuse, theme_ufpel{{/str}}
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tool/dataprivacy/summary.php">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    {{#str}}dataprivacy, theme_ufpel{{/str}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-12">
                    <div class="footer-section">
                        <h4 class="footer-subtitle">{{#str}}mobileapp, theme_ufpel{{/str}}</h4>
                        <div class="footer-apps">
                            <p class="small">
                                {{#str}}downloadapp, theme_ufpel{{/str}}
                            </p>
                            <div class="app-links">
                                <a href="https://download.moodle.org/mobile" 
                                   class="btn btn-sm btn-outline-light mb-2" 
                                   target="_blank" 
                                   rel="noopener">
                                    <i class="fab fa-apple" aria-hidden="true"></i>
                                    iOS
                                </a>
                                <a href="https://download.moodle.org/mobile" 
                                   class="btn btn-sm btn-outline-light mb-2" 
                                   target="_blank" 
                                   rel="noopener">
                                    <i class="fab fa-android" aria-hidden="true"></i>
                                    Android
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ufpel-footer-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p>&copy; {{year}} {{sitename}}. {{#str}}allrightsreserved, theme_ufpel{{/str}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-credits text-md-end">
                        <p>
                            {{#str}}poweredby, theme_ufpel{{/str}} 
                            <a href="https://moodle.org" target="_blank" rel="noopener">Moodle</a>
                            | {{#str}}theme, theme_ufpel{{/str}}: UFPel
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>